<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <style type="text/css">
        .form-container {
            width: 400px;
            margin: auto;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col col-md-12">
        <img class="mx-auto d-block" style="height: 200px;" src="/images/MaxQ_Logo_Stkd_NT_RGB-01.jpg">
    </div>
</div>
